/*EN MAIN.CSS SE DEFINE LO QUE SE VA A USAR EN TODO EL SITIO*/
:root{
    --color-cheto: linear-gradient(
        0deg,
        rgba(82, 250, 241, 0.9),
        rgba(131, 235, 162, 1)100%
        );
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after{
    box-sizing: inherits;
}

body{
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    min-height: calc(100vh - 100px);
    margin: 50px;
    background-attachment: fixed;
    letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin:  0 0 5px 0;
    color: white;
}

p{
    color: white;
}

a{
    color: white;
}